@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sora:wght@100..800&display=swap');
#root{
  margin: 0;
  padding: 0;
}
html, body{
  background: rgb(11, 10, 10);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Sora', sans-serif;
}
